# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Objectives:
- List popular languages for Data Science
- List commonly used libraries by data scientists
- List data science tools
- Demonstrate Python arithmetic expressions in Code blocks

Some of the popular languages that Data Scientists use are:
1. Julia
1. Python
1. R

Some of the commonly used libraries used by Data Scientists include:
1. Pytorch
1. Plotly
1. Pycarat

|Data Science Tools|
|------------------|
|Jupytr Notebook|
|R|
|Matlab|

Below are a few examples of evaluating arithmetic expressions in Python

In [2]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [3]:
# This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

## Author
Sunil Tawde